@import './_mixins/breakpoints'
@import './interface'



+md-block()
	.time_table
		align-items: flex-end 



+sm-block()
	.header_contacts
		font-size: 13px
	.md_none
		display: none 
	.adapt
		display: flex 
	.header_contacts
		align-items: flex-start
	.header_top_side
		padding-bottom: 20px